*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img {

    max-width: 100%;
}

nav {
     
     display: flex;
     justify-content: space-around;
     padding: 8px 0;
   
    
}

.container {
    max-width: 1280px;
    margin: 0px auto;
}

ul {
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 30px;
    padding: 5px;
    align-items: center;
}

nav ul a {
    text-decoration: none;

}

nav ul a:hover {
    background-color: azure;
    
}

.logo {
    font-weight: bold;
    font-size:32px ;
}

.logo-r {
    color: #fd6e0aFF;;
         
}

.common-button {
    background-color: #FD6E0A;
    color: aliceblue;
    width: 150px;
    height: 64px;
    border-style: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;


}

.common-button:hover{
    background-color: aliceblue;

}

.common-button:active{
    background-color: cornflowerblue;
    height: 70px;
    width: 170px;
}

ul li a {
        color: darkslategray;
}


.hero-parent-root {
    background-color: rgb(255, 223, 162);

}

.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

/* .hardy {
    width: 100%;
} */

.left-child h2 {
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 10px;
}

.left-child #first {
    font-size: 45;
    font-weight: 600;

}

.left-child #second {
    font-size: 18px;
    color: rgb(75 75 75);


}

.outline-button {

    background-color: aliceblue;
    color: #FD6E0A;
    width: 150px;
    height: 64px;
    border-style: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #FD6E0A;
    cursor: pointer;

}

.hero-left-button-parent {
    padding: 2px 5px;
    margin-top: 30px;

}



.right-child {
       background-image: url(./images/header_bg.png);
    
}











/* 2nd portion */

.about-sec {

    background-color: #FFF8F3;
    margin: 100px auto;
    padding: 20px;
    text-align: center;



}

.about-h2 {

    margin: 80px auto  30px auto;
    font-size: 20px;
         
}

.about-p1 {
    margin: 25px auto;


}

.about-sec-div {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

}

.box {
    padding: 0px 2px;
    background-color: aliceblue;
    border: 1px solid grey;
    border-radius: 10px;

}








.whatido {
    background-color: lightpink;
    margin: 150px auto;
    padding: 20px;
 
}


.whatido-h2 {
    text-align: center;
    margin: 80px auto  30px auto;
    font-size: 20px;

}

.whatido-p1{
    text-align: center;
    margin: 25px auto;

       
}

.whatido-div-card {

    display: flex;
    justify-content: space-between;
    margin: 80px 20px;
    gap: 20px;

}


.dibbi {

      background-color: #FFF8F3;
      border: 2px solid lavender;
      padding: 7px;

}

.dibbi h2 {

    margin:20px 0px;


}


.dibbi p {
    color: #757575;
    margin: 30px auto;
}



/*  A summary of resume portion  */



.asummaryofme-sec {


    background-color: whitesmoke;
    margin: 100px auto;
    padding: 15px;


}

.asummaryofme-sec .heading{
    text-align: center;
    margin: 115px auto;
}



.summary-parent {


    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;


}

.resume-head {
    margin: 20px 0;
    color: #474747;

              
}

.resume-info-header {

    margin:20px 0px 30px 0px ;
    color: #474747;
    /* border-bottom: 2px solid black; */

  

}

.work-info-header {

    margin:20px 0px 30px 0px;
    color: #757575;
    font-weight: 600;

}

.resume-info-para {

    margin: 10px 0px ;


}



.asummaryofme-div {
     margin: 20px 0;
     display: flex;
     justify-content: center;
}

/*  a summary of me section ends */





/* my amazing works starts */

.my-amazing-parent h2 {
    text-align: center;
    margin: 80px 0px 40px 0px;
    font-size: 25px;
}

.gallery{

        display: grid;
        justify-content: center;
        margin-top: 20px;
        gap: 10px;
        grid-template-columns:repeat(3, 1fr) ;
        grid-template-areas: 

        " one two three "
        " four two  six "
        " four five six "
        

        ;
}

.gallery img {
         
        width: 100%;
        height: 100%;
        object-fit: cover;



}

.amazing-works1 {
                 grid-area: one;
}

.amazing-works2 {
           grid-area: two;

}


.amazing-works3 {
       grid-area: three;
}


.amazing-works4 {
       grid-area: four;
}


.amazing-works5 {
       grid-area: five;
}


.amazing-works6 {
       grid-area: six;
}

/* my amazing section ends */


/* foooter section starts */

footer {

    margin-top: 100px;
    background-color: #FFF8F3;
    padding: 20px;

}

.end-sec-parent{

    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px 30px 0px;
}

.left-end-sec h2 {
    margin:30px 0px 20px 0px ;
    color: #181818;
    font-size: 25px;


}

.left-end-sec p {

    margin: 20px 0px 20px 0px;
    font-size: 15px;
    line-break: normal;


}

.end-sec-logo {

    display: flex;
    justify-content: start;
    gap: 60px;

}

.end-sec-logo img:hover {

    box-shadow: 20px 30px 50px orangered;



}

.right-end-sec h2 {

    margin:30px 0px 20px 0px ;
    color: #181818;
    font-size: 25px;

}

form {

    display: flex;

    flex-direction: column;

    margin: 20px 0px 50px 0px;


}

form input, footer textarea {
    display: block;
    margin: 20px 0px;
    border: none;
    background-color: white;
    padding: 8px 15px;
    width: 100%;
   
} 

